<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- 配置过滤器,配置顺序就是调用顺序 -->
    <filter>
        <filter-name>MyFilter</filter-name>
        <filter-class>com.mag.filter.MyFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <!-- 过滤器映射 -->
    <filter-mapping>
        <filter-name>MyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- 更改语言 ChangeLanguageServlet -->
    <servlet>
        <servlet-name>ChangeLanguageServlet</servlet-name>
        <servlet-class>com.mag.servlet.ChangeLanguageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeLanguageServlet</servlet-name>
        <url-pattern>/ChangeLanguageServlet</url-pattern>
    </servlet-mapping>

    <!-- 登录服务 LoginServlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mag.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <!-- 登出服务 LogoutServlet -->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mag.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>

    <!-- 转账服务 TransferServlet -->
    <servlet>
        <servlet-name>TransferServlet</servlet-name>
        <servlet-class>com.mag.servlet.TransferServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransferServlet</servlet-name>
        <url-pattern>/TransferServlet</url-pattern>
    </servlet-mapping>

    <!-- 欢迎页面 login.jsp -->
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>